/* Base styles for larger screens (laptops and desktops) */
    body {
      font-size: 16px;
      margin: 0;
      padding: 0;
    }

    header {
      background-color: #333;
      color: white;
      text-align: center;
    }

    nav ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      background-color: #333;
    }

    nav li {
      margin: 0 20px;
    }

    nav a {
      text-decoration: none;
      color: white;
    }

    .hamburger-menu {
      display: none; /* Initially hidden on larger screens */
      cursor: pointer;
      font-size: 24px;
    }

    main {
      width: 80%;
      margin: 0 auto;
      padding: 20px;
    }

    section {
      margin: 20px 0;
      display: flex;
      flex-wrap: wrap;
    }

    article {
      text-align: center;
      margin: 20px;
      flex: 0 0 calc(33.33% - 40px);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      border-radius: 5%;
    }

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
      object-fit: cover;
      margin-bottom: 10px;
    }
    article img {
      height: 200px;
    }

    /* Media query for tablets and phones */
    @media (max-width: 768px) {
      body {
        font-size: 14px;
      }

      header {
        background-color: #555;
      }

      nav ul {
        display: none; /* Hide the regular nav on tablets and phones */
      }

      .hamburger-menu {
        display: block; /* Show the hamburger menu button on tablets and phones */
      }

      article {
        flex: 0 0 calc(50% - 40px);
      }
    }
